.dataform {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: center;
  column-gap: 60px;
  row-gap: 15px;
}
.outerdiv {
  border: 2px solid;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  
}
